<h3>Salles</h3>
<br/>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Capacité</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="salle in salles">
        <td>{{salle.libelle}}</td>
        <td>{{salle.capacite}}</td>
      </tr>
    </tbody>
  </table>


  <!-- DUMMY DATA -->

  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Libellé</th>
        <th scope="col">Capacité</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mega Rama</td>
        <td>40</td>
      </tr>
      <tr>
        <td>Avenida</td>
        <td>80</td>
      </tr>
    </tbody>
  </table> -->